.App {
  text-align: center;
}

ul {
	margin: 0;
	padding: 0;
}

ul li {
	list-style-type: none;
}

.container {
	margin: 0 auto;
	width: 960px;
}

/*HEADER*/
.header {
	padding: 50px 0;
	background-color: #1e1c1c;
    display: flex;
}

.header h1,
.header h2 {
	color: #F9F6EE;
	text-align: center;
}

/* NAVIGATION */
.page-navigation {
	background-color: #212121;
	border: 2px solid #ff4545;
	min-height: 64px;
    display: flex;
}
.navigation-link li {
	float: left;
	width: 100px;
}
.user-navigation li {
	float: right;
	width: 100px;
}
.page-navigation button {
    border: none;
    height: 64px;
    width: 100px;
    font-size: 100%;
}
.page-navigation a,
.page-navigation button {
	display: block;
    text-decoration: none;
    color: #F9F6EE;
    line-height: 4em;
    font-weight: bold;
    text-align: center;
    background: none;
    border: none;
    padding: 0;
}
.page-navigation li a:hover,
.page-navigation li button:hover {
	color: #F9F6EE;
	background-color: #ff4545;
    text-shadow: 0px 0px 10px white;
}


/* MAIN */
main{
    background-color: #1e1c1c;
    color: #F9F6EE;
    margin-top: -30px;
}
.title {
    padding-top: 5px;
	padding-bottom: 5px;
	font-size: 36px;
    text-align: center;
    color: #F9F6EE;
}
.main-element {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.content {
    overflow: hidden;
    display: flex;
    background-color: #212121;
    box-shadow: 0px 0px 20px #ff4545;
    display: flex;
    justify-content: flex-start; /*was center*/
    border: 2px solid #ff4545;
    margin-bottom: 20px;
    padding-left: 0;
    width: 870px;
}

.image {
    margin-right: 20px;
    margin-left: 0;
    padding-left: 0;
    height: 300px;
    flex-shrink: 0; /* Prevent the image from shrinking */
}

.image img {
    padding-left: 0;
    width: 410px;
    height: 300px;
    object-fit: cover; /* Ensure the image covers the space while maintaining aspect ratio */
}

.text {
    margin: 0;
    flex-grow: 1; /* Allow the text section to grow and take up remaining space */

}

.text ul{
    margin-top: 20px;
    margin-right: 20px;
}

.text li {
    margin-bottom: 10px;
}

.guest-list {
    width: 200px;
    text-align: center;
}


.event-description h3,
.guest-list h3 {
    text-align: center;
}

#dropdown-content {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #212121;
    z-index: 999;
}

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #212121;
    box-shadow: 0px 0px 20px #ff4545;
    border: 2px solid #ff4545;
    padding: 20px;
    border-radius: 5px;
}
.form input {
    margin-bottom: 10px; /* Adjust the value as needed */
    padding: 5px; /* Optional: Add padding to input fields */
}
.form button{
    box-shadow: 0px 0px 20px #ff4545;
    border: 2px solid #ff4545;
    background-color: #212121;
    color:#F9F6EE;
    padding: 5px 5px;
    font-size: 16px;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
}
.form button:hover {
	color: #F9F6EE;
	background-color: #ff4545;
    text-shadow: 0px 0px 10px white;
}
#CloseButton{
    float: right;
}

fieldset {
    border: 2px solid #ff4545; /* Red border */
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

legend {
    color: #F9F6EE; /* White text color */
    background-color: #ff4545; /* Red background color */
    padding: 5px 10px;
    border-radius: 5px;
}
label {
    color: #F9F6EE; /* Black text color */
}

/*FOOTER*/
.footer {
    border-top: 2px solid #ff4545;;
	padding: 50px 0;
	background-color: #212121;
    display: flex;
}
.footer h2,
.footer h4 {
	color: #F9F6EE;
	text-align: center;
}
